<div class="wrapper">
  <div class="content">

    <h1>Tasks</h1>
    <p><%= link_to "create new task", new_task_path, class: "btn btn-default" %></p>
    <hr>
    <ul>
    <% @tasks.each do |task| %>
      <li>
        <p><%= task.done == true ? "Done!" : "To do" %> | <%= link_to task.name, task_path(task) %><br>
        <%= task.description %><br>
        <%= link_to "edit", edit_task_path(task) %> | <%= link_to "delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></p>
      </li>
    <% end %>
    </ul>
  </div>
</div>
